<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Raleway:ital,wght@1,400;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../style.css">
    <title>Document</title>
</head>
<body>
    <style>

    </style>
    <section class="income">
        <div class="income_container">
            <section class="transaction_list">
                <div class="transaction_list_heading">
                    INCOMES
                </div>
                <div class="transaction_list_container">
                <div class="transaction_list-1 lists">
                    <span id="one">
                        <ion-icon name="chevron-up-outline" id="uparrow"></ion-icon>
                    </span>
                    <span id="two"><p>Salary Paid</p></span>
                    <span id="three">98338737 </span>
                    <span id="four">21%</span>
        
                    
                    
                    <!-- <div class="tra-1 transactions">one</div>
                    <div class="tra-2 transactions">
                        salary added  to facebook how do you like it
                     </div>
                    <div class="tra-3 transactions">903948484</div>
                    <div class="tra-4 transactions">21%</div> -->
                </div>
                <div class="transaction_list-2 lists">
                    <span id="one">
                        <ion-icon name="chevron-up-outline" id="uparrow"></ion-icon>
                    </span>
                    <span id="two"><p>Interest</p></span>
                    <span id="three">758654</span>
                    <span id="four">78%</span>
                </div>
                <div class="transaction_list-3 lists">
                    <span id="one">
                        <ion-icon name="chevron-up-outline" id="uparrow"></ion-icon>
                    </span>
                    <span id="two"><p>Car Sold</p></span>
                    <span id="three">864654</span>
                    <span id="four">45%</span>
                </div>
                <div class="transaction_list-4 lists">
                    <span id="one">
                        <ion-icon name="chevron-up-outline" id="uparrow"></ion-icon>
                    </span>
                    <span id="two"><p>Fooding</p></span>
                    <span id="three">245644</span>
                    <span id="four">67%</span>
                </div>
                <div class="transaction_list-5 lists">
                    <span id="one">
                        <ion-icon name="chevron-up-outline" id="uparrow"></ion-icon>
                    </span>
                    <span id="two"><p>Clothing</p></span>
                    <span id="three">9865478</span>
                    <span id="four">31%</span>
                </div>
               
            </section>
        </div>
    </section>
    
    <script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>

</body>
</html>